<div th:fragment="card(item)" class="card">
<!--    <img src="..." class="card-img-top" alt="...">-->
    <a th:href="@{/items/details/{id}(id = ${item.id})}" th:text="${item.name}" class="link-dark text-decoration-none card-header text-center"></a>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-end">
            <a th:if="${item.quantityInStock > 0}" th:href="@{/shoppingcart/{itemId}(itemId = ${item.id})}" class="btn btn-primary">Add to cart</a>
            <span th:unless="${item.quantityInStock > 0}" class="btn btn-info text-white" style="pointer-events: none;">Item out of stock</span>
        </li>
    </ul>
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

</div>
