<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar" />
    <div th:if="${message}" th:utext="${message}" class="alert alert-info mb-4" ></div>
    <span class="alert alert-secondary">Beware that the shopping cart content will be discarded on logout</span>
    <div class="row d-flex justify-content-center">
        <table class="table mt-4">
            <caption>Shopping cart</caption>
            <thead>
            <tr>
                <th scope="col">Item name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal per item</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shoppingCartItem : ${shoppingCartItems}" >
                <td th:text="${shoppingCartItem.item.name}"></td>
                <td th:text="${#numbers.formatDecimal(shoppingCartItem.item.price, 1, 2, 'COMMA')} + ' €'"></td>
                <td th:text="${shoppingCartItem.quantity}"></td>
                <th:block th:with="subtotal=${shoppingCartItem.item.price * shoppingCartItem.quantity}">
                    <td th:text="${#numbers.formatDecimal(subtotal, 1, 2, 'COMMA')} + ' €'"></td>
                </th:block>
                <td>
                    <form th:action="@{/shoppingcart/{shoppingCartItemId}(shoppingCartItemId = ${shoppingCartItem.id})}" th:method="delete">
                        <input type="submit" value="Remove from cart" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot th:if="${!shoppingCartItems.isEmpty()}">
            <tr>
                <td colspan="2"></td>
                <td>Subtotal</td>
                <td th:text="${#numbers.formatDecimal(subtotal, 1, 2, 'COMMA')} + ' €'"></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>Total with VAT</td>
                <td th:text="${#numbers.formatDecimal(total, 1, 2, 'COMMA')} + ' €'"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>