<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Item</title>
  <div th:replace="fragments/head"></div>
</head>
<body>
  <div class="container">
    <div th:replace="fragments/navbar" />
    <div class="row position-absolute top-50 start-50 translate-middle">
      <div class="col img-fluid img-thumbnail">
        <span>Image placeholder</span>
      </div>
      <div class="col ms-4">
        <div class="row">
          <table class="table">
            <caption>Details</caption>
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${item.name}">Name placeholder</td>
              <td th:text="${item.quantityInStock}">Quantity in stock placeholder</td>
              <td th:text="${item.price}">Price placeholder</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <a class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>